
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<ul>
<li><%= link_to "アカウント新規作成",new_user_registration_path %></li>
</ul>
<ul>
<li><%= link_to "アカウント編集",edit_user_registration_path %></li>
</ul>
<ul>
<li><%= link_to "ログイン",new_user_session_path %></li>
</ul>



 <% if user_signed_in? %>
  <div class="image_top">
    <%= image_tag current_user.avatar.url %>
  </div>
  <% else %>

 <% end %>

    <%= link_to new_user_registration_path do %>
     <h2 class="btn btn-primary mr-2">新規登録</h2>
    <% end %>
    <%= link_to new_user_session_path do %>
     <h2 class="btn btn-success ml-2">ログイン</h2>
    <% end %>
