<p>edit</p>

<div class = "reserve_modification">
  <%= form_with model:@reservation, url: update_homes_path, local: true do |f| %>
  <table>
    <tr>

      <th><%= f.label :check_in,"チェックイン日" %></th>
      <td><%= f.date_field :check_in %></td>
    </tr>
    <tr>
      <th><%= f.label :check_out, "チェックアウト日"%></th>
      <td><%= f.date_field :check_out %></td>
    </tr>

    <tr>
      <th><%= f.label :peaple_count, "ご宿泊人数"%></th>
      <td><%= f.number_field :peaple_count, in: 1..10 %></td>
    </tr>
      <%= f.hidden_field :room_fee %>
      <%= f.hidden_field :total_fee, value: @total_fee %>
  </table>

    <%= f.submit '予約変更を完了する' %>
  <% end %>
</div>
