
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<ul>
<li><%= link_to "アカウント新規作成",new_user_registration_path %></li>
</ul>
<ul>
<li><%= link_to "アカウント編集",edit_user_registration_path %></li>
</ul>
<ul>
<li><%= link_to "ログイン",new_user_session_path %></li>
</ul>

<div class = link_image>
  <%= link_to image_tag("img_tokyo.jpeg", class:"tokyo-img"), search_result_homes_path(q:{room_address_prefecture_cont: "東京"}) %>
  <%= link_to image_tag("img_osaka.jpeg", class:"osaka-img"), search_result_homes_path(q:{room_address_prefecture_cont: "大阪"}) %>
  <%= link_to image_tag("img_kyoto.jpeg", class:"kyoto-img"), search_result_homes_path(q:{room_address_prefecture_cont: "京都"}) %>
  <%= link_to image_tag("img_sapporo.jpeg", class:"sapporo-img"), search_result_homes_path(q:{room_address_prefecture_cont: "北海道"}) %>
<div>
