
<div class = "reservation_list">
  <table>
    <thead>
      <tr>
        <th>お部屋の写真</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>合計料金</th>
        <th>チェックイン</th>
        <th>チェックアウト</th>
        <th>ご予約確定日</th>
      </tr>
    <thead>
    <tbody>
      <% @reservations_relate.each do |reserve| %>
        <% @posts = Post.where(id: reserve.post_id) %>
          <% @posts.each do |post| %>
            <tr>
              <td><%= image_tag(post.room_photo.to_s, class:"reservation_list") %>
              <td><%= post.room_name %></td>
              <td><%= reserve.total_fee %></td>
              <td><%= reserve.check_in %></td>
              <td><%= reserve.check_out %></td>
              <td><%= reserve.updated_at %></td>
              <td><%= link_to "予約を変更する",edit_homes_path(reserve) %></td>
            </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
