
<div class = "post_index_container">
  <h1>部屋の貸し出し</h1>
  <% if Userprofile.exists?(user_id: current_user.id)%>
    <%= button_to "お部屋の貸し出し登録", new_post_path, method: :get, class: "rent_room_button" %>
  <% else %>
    <p>お部屋の貸出機能を利用するにはプロフィールの登録が必要です。下記から登録をお願いします。</p>
    <%= button_to "プロフィールの登録", new_userprofile_path, method: :get, class: "rent_room_button" %>
  <% end %>
    <div class = "post_room_information">
      <h3>投稿一覧</h3>
      <table>
        <thead>
          <tr>
            <th>登録画像</th>
            <th>登録番号</th>
            <th>ルーム名</th>
            <th>ルーム紹介文</th>
            <th>貸し出し価格</th>
            <th>住所</th>
            <th>登録日</th>
            <th>更新日</th>
            <th>登録する</th>
            <th>編集する</th>
            <th>登録削除</th>
          </tr>
        </thead>
        <tbody>
      <% @posts_current_user.each do |post| %>
          <tr>
            <td><%= image_tag post.room_photo.to_s %></td>
            <td><%= post.id %></td>
            <td id = "post_room_name_td"><%= post.room_name %></td>
            <td id = "post_room_info_td"><%= post.room_info %></td>
            <td><%= post.room_price %></td>
            <td><%= post.room_address_prefecture %></td>
            <td><%= post.created_at.strftime('%Y年%-m月%-d日') %></td>
            <td><%= post.updated_at.strftime('%Y年%-m月%-d日') %></td>
            <td><%= link_to "詳細", post_path(post) %></td>
            <td><%= link_to "編集", edit_post_path(post)%></td>
            <td><%= link_to "削除", post_path(post), method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
          </tr>
      <% end %>
        </tbody>
      </table>
    </div>
</div>
