<!DOCTYPE html>
<html>
  <head>
    <title>ReservationApp02</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <header>
    <%= link_to image_tag("logo_transparent.png", class:"logo"),root_path  %>
    <div id="nav-wrapper" class="nav-wrapper">
      <div class="hamburger" id="js-hamburger">
        <span class="hamburger__line hamburger__line--1"></span>
        <span class="hamburger__line hamburger__line--2"></span>
        <span class="hamburger__line hamburger__line--3"></span>
      </div>
      <nav class="sp-nav">

        <% if user_signed_in? %>
            <ul class = "links">
              <li><%= link_to "トップ", root_path, class:"link" %></li>
              <li><%= link_to "お部屋の貸し出し", posts_path, class:"link" %>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"link" %>
              <li><%= link_to "予約一覧",home_path(current_user), class:"link" %>
            </ul>
          <% else %>
            <ul class = "links">
              <%= link_to "新規会員登録", new_user_registration_path, class:"link" %>
              <%= link_to "ログイン", new_user_session_path, class:"link" %>
            </ul>
        <% end %>

      </nav>
      <div class="black-bg" id="js-black-bg"></div>
    </div>
  </header>
  <body>
    <!--ransack用の記述-->
    <%= search_form_for @q, url: search_result_homes_path do |f| %>
      <%= f.search_field :room_address_prefecture_or_room_address_town_village_cont,placeholder: "エリア検索" %>
      <%= f.submit "検索" %>
      <%= f.search_field :room_name_or_room_info_cont,placeholder: "フリーワード検索" %>
      <%= f.submit "検索" %>
    <% end %>
    <!--ここまで-->

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
